html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


input#photo{
  display: none;
}

.file-upload {
  padding: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 25px;
  justify-self: center;
}

.file-upload-photo {
  display: none; /* Hide the default file input */
}

.file-upload-label {
  font-size: 16px;
  width: 165px;
  text-align: center;
  font-weight: bold;
  position: relative;
  right: 40%; 
  display: inline-block;
  padding: 10px 20px;
  background-color: #024444;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-upload-label:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
  
 
 canvas {
  width: 514px;
  height: 350px;
  max-height: 524px;
 
  position: relative;
}  


.wrapper {
  display: flex;
  direction: ltr;
  flex-direction: column;
  align-items: center;
  width: 84%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  position: relative;
  left: 9%;
  top: 90px;
}

.input {
  margin-bottom: 20px;
}

.content {
  display: flex; 
}

.BtnTransfer{
  font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(2, 68, 68);
    left: -6%;
    top: 10%;
    /* position: relative; */
    width: 50%;
    margin-right: 24%;
    margin-top: 5%;
}

.detected-image {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  height: 370px;
}

.data-form {
  direction: rtl;
  border: 2px solid #ddd;
  display: -webkit-box; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 65%;
  padding: 45px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-form h2 {
  position: relative;
  /* grid-column: span 2; */
  text-align: center;
  color: #333;
  top: -21%;
  right: 70%;
}

.form-groupData {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin: 5px;
}

.form-groupData label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  align-self: center;
}

.form-groupData input {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
}

button {
  grid-column: span 2;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .detected-image,
  .data-form {
    width: 100%;
    margin: 10px 0;
  }

  canvas {
    width: 100%;
    height: auto;
  }
}

button:hover {
  background-color: #056161;
}

.file-upload-label:hover {
  background-color: #056161;
}


/* Progress Bar Styles */
.progress {
  z-index: 99999999;
  visibility: hidden;
  position: fixed;
  top: 0;
  background-color: #000000ab;
  width: 100%;
  height: 100%;
}

.progress.visible {
  visibility: visible;
}
 
.progress-wrapper {
  display: inline-flex;
    position: fixed;
    margin: 15%;
    left: 14%; 
    font-size: 2em;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    border: 2px solid black;
    background: white;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.25);
    border-radius: 0.2em;
}

progress {
  width: 100%;
  margin: 0.2em;
}

